<div class="list-group">
    <a routerLink="/data-binding" class="list-group-item active">
      <h4 class="list-group-item-heading">Data Binding</h4>      
    </a>
    <a  routerLink="/ngfor" class="list-group-item">
      <h4 class="list-group-item-heading">NgFor</h4>      
    </a>
    <a routerLink="/ngmodel" class="list-group-item">
      <h4 class="list-group-item-heading">NgMode</h4>     
    </a>
    <a routerLink="/service" class="list-group-item">
        <h4 class="list-group-item-heading">Service</h4>     
      </a>
      <a routerLink="/pipe" class="list-group-item">
        <h4 class="list-group-item-heading">Pipe</h4>     
      </a>
      <a routerLink="/rest" class="list-group-item">
        <h4 class="list-group-item-heading">HTTPClient </h4>     
      </a>
      <a routerLink="/user" class="list-group-item">
        <h4 class="list-group-item-heading">Router / Multi-Module</h4>     
      </a>
      <a routerLink="/user" class="list-group-item">
        <h4 class="list-group-item-heading">Event Emitter - Next</h4>     
      </a>

  </div>